@model IzvidaciWebApp.ViewModels.RangZaslugeViewModel
@{
    ViewData["Title"] = "Rangovi zasluga";
}

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<h1>Rangovi zasluga</h1>
<a class="btn btn-primary" asp-action="Create" asp-controller="RangZasluga">Stvori novi rang po zasluzi</a>
<table class="table table-sm table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Naziv</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var rang in Model.rangovi)
    {
        <tr>
            <td class="text-center">@rang.id</td>
            <td class="text-left">@rang.naziv</td>            <td>
                <form asp-action="Edit" method="get"
                      asp-route-id="@rang.id">
                    <button type="submit" class="btn btn-sm" title="Uredi"><i class="fas fa-edit"></i></button>
                    </form>
            </td>
            <td>
                <form>
                    <a asp-action="Delete" method="post"
                        asp-route-id="@rang.id"
                        class="btn btn-danger" title="Obriši"><i class="fas fa-trash-alt"></i></a>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin="anonymous"></script>