@{
    ViewData["Title"] = "Udruge i ekonomati";
}

<p>udruge i ekonomati</p>

<a class="nav-link text-dark" asp-area="" asp-controller="Prostori" asp-action="Index">Prostori</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Udruge" asp-action="Index">Udruge</a>

