@{
    ViewData["Title"] = "Udruge i ekonomati";
}

<p>Udruge i ekonomati</p>

<a class="btn btn-outline-dark" asp-area="" asp-controller="Udruge" asp-action="Index">Udruge</a>
<a class="btn btn-outline-dark" asp-area="" asp-controller="Prostori" asp-action="Index">Prostori</a>
<a class="btn btn-outline-dark" asp-area="" asp-controller="VoditeljiUdruge" asp-action="Index">VoditeljiUdruge</a>


