@{
    ViewData["Title"] = "Home Page";
}

<div class="text-lg-start">
    <h1>Dobro došli na IzvidaciWebApp</h1>
    <p>Cilj nam je omogućiti lakšu komunikaciju između svih dijelova organizacije izviđačkog društva</p>
</div>
    
