@{
    ViewData["Title"] = "Članstvo";
}

<a>Svi clanovi</a>
<a class="nav-link text-dark" asp-area="" asp-controller="RangZasluga" asp-action="Index">Rangovi po zasluzi</a>
<a class="nav-link text-dark" asp-area="" asp-controller="RangStarost" asp-action="Index">Rangovi po starosti</a>
