@{
    ViewData["Title"] = "Akcije i škole";
}

<p class="nav-link text-dark"><span>Pregledajte sve </span><a asp-area="" asp-controller="Aktivnosti" asp-action="Index">aktivnosti</a><span>!!</span></p>
<p class="nav-link text-dark"><span>Pregledajte sva </span><a asp-area="" asp-controller="Mjesta" asp-action="Index">mjesta</a><span>!!</span></p>
<p class="nav-link text-dark"><span>Pregledajte sve </span><a asp-area="" asp-controller="MaterijalnePotrebe" asp-action="Index">materijalne potrebe</a><span>!!</span></p>