@{
    ViewData["Title"] = "Akcije i škole";
}

<p class="nav-link text-dark"><span>Pregledajte sve </span><a asp-area="" asp-controller="Aktivnosti" asp-action="Index">aktivnosti</a><span>!!</span></p>
