@{
    ViewData["Title"] = "Akcije i škole";
}

<a asp-controller="Aktivnosti" asp-action="Index" class="btn btn-outline-dark">Aktivnosti</a>
<a asp-controller="Mjesta" asp-action="Index" class="btn btn-outline-dark">Mjesta</a>
<a asp-controller="MaterijalnePotrebe" asp-action="Index" class="btn btn-outline-dark">Materijalne potrebe</a>
<a asp-controller="Skole" asp-action="Index" class="btn btn-outline-dark">Skole</a>
<a asp-controller="CvrstiObjektZaObitavanje" asp-action="Index" class="btn btn-outline-dark">Čvrsti objekti za obitavanje</a>