@model IzvidaciWebApp.Providers.Http.Dtos.AkcijaDto;

@{
    ViewBag.Title = "Nova akcija";
}

<h2>Unos nove akcije</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Naziv" class="form-label"></label>
        <input asp-for="Naziv" class="form-control" />
        <div class="form-text"><span asp-validation-for="Naziv" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="MjestoPbr" class="form-label">Poštanski broj mjesta</label>
        <input asp-for="MjestoPbr" class="form-control" />
        <div class="form-text"><span asp-validation-for="MjestoPbr" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="KontaktOsoba" class="form-label">Kontakt osoba</label>
        <input asp-for="KontaktOsoba" class="form-control" />
        <div class="form-text"><span asp-validation-for="KontaktOsoba" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Organizator" class="form-label"></label>
        <input asp-for="Organizator" class="form-control" />
        <div class="form-text"><span asp-validation-for="Organizator" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Vrsta" class="form-label">Vrsta akcije</label>
        <input asp-for="Vrsta" class="form-control" />
        <div class="form-text"><span asp-validation-for="Vrsta" class="text-danger"></span></div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>