@model IzvidaciWebApp.ViewModels.RangStarostiViewModel
@{
    ViewData["Title"] = "Rangovi starosti";
}
<style>
    body {
        background-image: url("https://th.bing.com/th/id/R.5c73556efd3e74b85fd6eb916ff0369f?rik=IbKm1uokF53TPg&pid=ImgRaw&r=0");
</style>
<body>
<h1>Rangovi po starosti</h1>
<a class="btn btn-primary" asp-action="Create" asp-controller="RangStarost">Stvori novi rang po starosti</a>
<table class="table table-sm table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Naziv</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var rang in Model.rangovi)
    {
        <tr>
            <td class="text-center">@rang.id</td>
            <td class="text-left">@rang.naziv</td>
            <td> 
                <form asp-action="Edit" method="get"
                      asp-route-id="@rang.id">
                    <button type="submit" class="btn btn-sm" title="Uredi"><i class="fas fa-edit"></i></button>
                </form>
            </td>
            <td>
                <form>
                     <a asp-action="Delete" method="post"
                        asp-route-id="@rang.id"
                      class="btn btn-danger" title="Obriši"><i class="fas fa-trash-alt"></i></a>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin="anonymous"></script>