@model IzvidaciWebApp.ViewModels.MjestoViewModel;

@{
    ViewBag.Title = "Novo mjesto";
}

<h2>Unos novog mjesta</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Pbr" class="form-label">Poštanski broj</label>
        <input asp-for="Pbr" class="form-control" />
        <div class="form-text"><span asp-validation-for="Pbr" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="NazivMjesta" class="form-label">Naziv mjesta</label>
        <input asp-for="NazivMjesta" class="form-control" />
        <div class="form-text"><span asp-validation-for="NazivMjesta" class="text-danger"></span></div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>
